<html>
  <body>
    <br />
    <div class="container" id="game-container">
      <div class="row">
        <div class="col" id="info-container"></div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/script.js"></script>
  </body>
</html>
