body {
  max-width: 600px;
  margin: 0 auto !important;
  float: none !important;
  text-align: center;
}

@import "https://fonts.googleapis.com/css?family=Droid+Sans+Mono";

body {
  background-color: black;
}

.cardContainer {
  overflow: hidden;
  margin-left: 10%;
}

.card {
  /* Card Sizing */
  width: 2.5in;
  height: 4in;
  border-radius: 0.25in;

  /* Display Properties */
  float: left;
  margin: 10px;
}

.dark {
  /* Color information */
  border: 3px solid black;
  color: white;
  background: black;
}

.light {
  /* Color information */
  border: 3px solid black;
  color: black;
  background: white;
}

.text {
  /*font information*/
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 26px;
  padding-left: 7%;
  padding-right: 7%;
  word-wrap: break-word;
}
